@charset "UTF-8";

.pw_edit_title{ 
	width: 1200px;
	font-size: 33px;
	font-weight:bold;
	margin: 0px auto;
    padding: 35px 0 20px 0;
    padding-top: 130px;
}
.pw_edit_form{
	width: 1200px;
	height:400px;
	margin: 0px auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.pw_edit_form> table {
	width: 100%;
}
div.pw_edit_form table th{
	background-color: #DCC1A0;
	vertical-align: middle;
	letter-spacing: -1px;
	padding: 3px 0 0;
	height: 80px;
	width:160px;
	font-size: 16px;
	color: #593000;
}

div.pw_edit_form table td{
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
	background-color: #fff;
	
}

.pw_edit_form>table>tbody>tr>td {
	padding: 15px 5px 15px 15px;
	color: #593000;
}
.pw{
	height: 40px;
	width: 250px;
	border-radius: 5px;
	border: 1px solid #dedede;
	
}
.pw_edit_form table tr td input[type="text"] {
	height: 40px;
	border: 1px solid #dedede;
	font-size: 14px;
	padding: 3px 0 0;
	vertical-align: middle;
	box-sizing: border-box;
	border-radius: 5px;
}
.pw_edit_form_btn{
	width: 100px;
	height: 50px;
	background-color:#DCC1A0;
	border: 0px;
	border-radius: 5px;
	margin:0px auto;
	font-size: 18px;
	font-weight: normal;
}
.container{
	flex:0;
}
.txt{
	font-size: 16px;
}