@charset "UTF-8";

.unregister_wrap{
	display: flex;
	flex-direction: column;
	height: 700px;
	width: 1450px;
}

.unregister_img{
	margin: 0px auto;
	width: 350px;
	height: 400px;
}
.unregister_img img{
	width: 350px;
	height: 400px;
}
.msg{
	margin: 0px auto;
	font-size: 30px;
	font-weight:bold;
	color: #593000;
	width: 670px;
	height: 60px;
}
.msg1{
	margin: 0px auto;
	font-size: 15px;
	color: #593000;
	width: 430px;
	height: 80px;
	text-align: center;
}
.pw_chk{
	width : 300px;
	height:50px;
	margin: 0px auto;
	display: flex;
}
.pw{ 
	height: 30px;
	border: 1px solid #C89E6C;
	border-radius: 5px;
}
.unregister_btn{
	width: 100px;
	height: 45px;
	background-color: #593000;
	border: 0px;
	border-radius: 5px;
	color: white;
	margin: 0px auto;
	font-size: 17px;
}


	


	
