@charset "UTF-8";

.main-photo {
	width: 1920px;
}

.main {
	display: block;
	margin: 0px auto;
	width: 900px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.naranhee {
	display: inline-block;
}
/* 1 */
.pro-left > img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 20px;
	display: inline-block;
}

.pro-right > span {
	font-size: 25px;
    font-weight: bold;	
}

.star-rate {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.star-blank {
	width: 100px;
	background-color: bebebe;
}

.star-blank {
	display: inline-block;
	height: 20px;
	overflow: hidden;
	background: url(../../images/starblank.png);
	background-size: 20px;
}

/* 2 */
.review {
	height: 250px;
	margin: 10px 0;
	border: 1px solid #DEDEDE;
	border-radius: 5px;
	padding: 15px;
	font-size: 16px;
}
/* 3 */
.review-img-wrap {
	margin: 10px 0;
}

.review-img {
	display: inline-block;
	width: 210px;
	height: 210px;
	margin: 5px 4px;
	border: 1px solid #E0E0E0;
}
/* 4 */
.review-etc-wrap {
	display: flex;
	justify-content: space-between;
}

.txt {
	position: relative;
	top: -6px;
}

.heart-icon {
	height: 30px;
	background-color: transparent;
}

.heart-icon svg {
	margin: 0 auto;
}

@keyframes like { 0% {transform: scale(1);}90%
{transform:scale(1.2);}100%
{transform:scale(1.1);}}

.dec-icon {
	height: 30px;
	background-color: transparent;
}

.dec-icon svg {
	margin: 0 auto;
}

/* 페이지 */
.page{
	display: flex;
    justify-content: center;
    margin: 50px 0;
}

.page-num{
    color: #000;
	background-color: #F4F4F4;
    border-radius: 10px;
    margin: 5px;
    padding: 12px;
}
.page-num:hover{
    color: #FFF;
    background-color: #C89E6C;

}
