@charset "UTF-8";

/* 컨테이너 */
.main {
    display: block;
    width: 1300px;
    margin: 0 0 50px 330px;
}

.text {
    margin: 15px;
    color: #5C3300;
    font-size: 25px;
    font-weight: bold;
}

/* 비밀번호 변경 */
.passChange {
	margin: 0px auto;
	text-align: left;
	border: 1px solid #EDEDED;
	overflow: hidden;
}

.passChange table {
	width: 100%;
}

.passChange>table>tbody>tr {
	border-bottom: 1px solid #e1e3e4;
}

.passChange>table>tbody>tr>th {
	padding: 15px;
	font-size: 17px;
	background: #EDEDED;
}

.passChange>table>tbody>tr>td {
	padding: 15px 5px 15px 15px;
	color: #444;
}

.passChange table tr td input[type="text"] {
	height: 37px;
	width:	280px;
	border: 1px solid #dedede;
	font-size: 14px;
	padding: 0 20px;
	vertical-align: middle;
	box-sizing: border-box;
}


.passChange table tr td input[type="password"] {
	height: 37px;
	width:	280px;
	border: 1px solid #dedede;
	font-size: 14px;
	padding: 0 20px;
	vertical-align: middle;
	box-sizing: border-box;
}



/* 확인버튼 */
.btn {
	display:block;
	margin:0px auto;
	margin-top: 150px;
	width: 200px;
	height: 55px;
	cursor: pointer;
	background-color: #5E5E5E;
	color:#FFFFFF;
	font-size:20px;
	border: 0px;
	border-radius: 5px;
	margin-bottom: 20px;
}