@charset "UTF-8";

body, dd, dl, dt, fieldset, form, input, legend, ul, ol, li, p, select,
	table, th, td, textarea {
	margin: 0px;
	padding: 0px;
}

body, button, input, select, table, textarea {
	font-size: 12px;
	line-height: 16px;
	color: #302030;
	font-family: "Malgun Gothic", "맑은 고딕", "Apple SD Gothic Neo", sans-serif
}

button, input {
	border-radius: 0px;
	border: 0px;
}

button {
	background-color: transparent;
}

fieldset, img {
	border: 0px;
}

img {
	vertical-align: top;
}

ol, ul, li {
	list-style: none;
}

address, i {
	font-style: normal;
}

a {
	color: inherit;
	text-decoration: none
}

a:hover {
	text-decoration: underline;
	color: #4C739F;
}

.inputBox {
	border: 1px solid #7F92B9;
	background-color: #FFFFFF;
	padding-left: 5px;
	height: 24px;
}

.inputBtn {
	border: 1px solid #7F92B9;
	background-color: #FFFFFF;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 26px;
	cursor: pointer;
}

.red {
	color: #FF0000
}