@charset "UTF-8";
.wrap{
	height: 100vh;
}
.wrap .container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.wrap .container .logo_wrap .tit_service .logo_potato{
}

.wrap .container .loginBox_wrap{
	width: 350px;
	height: 500px;
	padding: 10px 40px;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #dfdfdf;
}
